<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean class="zhangyuyao.ioc.lifecycle.bean.Staff" init-method="init"/>
    <bean id="person" class="zhangyuyao.ioc.lifecycle.bean.Person" scope="prototype" init-method="init"/>
</beans>

        <!--

        原型模式：创建的时候执行

        单例模式：创建的时候执行
        -->